/* gris oscuro = # 1d252c
gris claro = #626262
background gris = #1b2127 
celeste = #026fff */

body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    /* color: #ff0000;
    color: #00ff00;
    color: #0000ff;
    color: #fff;
    color: #000;
    color: #f00;
    color: #0f0;
    color: #00f; */
}

h1, h2, h3, h4, h5, h6{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
}

h1 strong {
    color: #026fff;
}

.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #273B47;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.project-details{
    width: 500px;
    height: 100px;
}

.project-imageContainer{
    width: 500px;
}

.header{
    background-color:c;
    /* background-color:#273B47; */
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}